<h2 class="pb-8">Your Boards</h2>

<!-- Boards -->
<div
  class="px-4 flex gap-4 w-screen overflow-x-auto"
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)"
>
  <app-board
    cdkDrag
    cdkDragLockAxis="x"
    *ngFor="let board of boards"
    [board]="board"
  >
    <mat-icon cdkDragHandle class="cursor-grab">drag_indicator</mat-icon>
  </app-board>
  <div>
    <div class="border-2 rounded-lg p-2 w-80 bg-neutral-800">
      <h3 class="pb-4">Create a new board</h3>
      <button
        appPrimaryBtn
        class="flex justify-center items-center"
        (click)="openBoardDialog()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
