<div class="lg:mx-72">
  <!-- Signup page -->
  <div *ngIf="state === 'signup'" class="flex flex-col items-center p-8">
    <h2>Hello there 👋</h2>
    <form class="py-6">
      <div class="relative">
        <input type="text" placeholder="Email" appInput />
        <label for="email" appLabel>Email</label>
      </div>
    </form>
    <p>
      Already a user?
      <button (click)="setState('login')">Login</button>
    </p>
  </div>

  <!-- Login page -->
  <div *ngIf="state === 'login'" class="flex flex-col items-center p-8">
    <h2>Wellcome back 🤗</h2>
    <p>New user? <button (click)="setState('signup')">Signup</button></p>
  </div>
</div>
