<h1 class="text-center pt-16">Wellcome to TaskJolt</h1>

<!-- Discovery section -->
<div class="px-4 md:px-36 lg:px-72 p-8">
  <h3>Discover <span class="inline-block text-3xl animate-bounce">👇</span></h3>
  <ul class="list-disc pl-4 py-4 space-y-4">
    <li>A place for <span class="bg-green-600 p-1">improvement</span></li>
    <li><span class="bg-blue-600 p-1">Connecting hub</span> for programming</li>
    <li><span class="bg-rose-600 p-1">Learn</span>new, or even old skills</li>
    <li>
      Glide threw the amaizing world of
      <span class="bg-amber-500 p-1">programming</span>
    </li>
  </ul>
  <div class="text-center pt-8">
    <a appPrimaryBtn matRipple [matRippleRadius]="60" routerLink="/signup"
      >Get Started</a
    >
  </div>
</div>
