<div class="border-2 rounded-lg p-2 w-80 bg-neutral-800">
  <div class="flex justify-between items-center pb-4">
    <!-- Slot for the handle -->
    <h3 class="line-clamp-1">{{ board.title }}</h3>
    <ng-content></ng-content>
  </div>

  <div
    class="space-y-2 h-[72vh] overflow-y-auto board"
    cdkDropList
    cdkDropListOrientation="vertical"
    (cdkDropListDropped)="taskDrop($event)"
  >
    <div cdkDrag *ngFor="let task of board.tasks; let i = index">
      <div
        [ngClass]="task.label"
        class="p-2 rounded-sm min-h-[4rem] flex justify-between items-center"
        (click)="openDetails(i, board.id)"
      >
        <div class="flex items-center gap-2">
          <input
            type="checkbox"
            class="w-4 h-4 text-blue-600"
            (click)="deleteTask($event, i, board)"
          />
          <p class="line-clamp-2 text-black">{{ task.description }}</p>
        </div>
        <mat-icon class="min-w-[2rem] cursor-grab" cdkDragHandle
          >drag_handle</mat-icon
        >
      </div>
    </div>
    <div class="flex sticky bottom-4 justify-between px-2">
      <button
        class="bg-blue-500 rounded-3xl p-1 flex items-center bg-opacity-80"
        (click)="openDialog(board.id)"
      >
        <mat-icon>add</mat-icon>
      </button>
      <button
        class="bg-red-500 rounded-3xl p-1 flex items-center bg-opacity-70"
        (click)="deleteBoard(board.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
