.blue {
  @apply bg-blue-500;
}
.green {
  @apply bg-green-500;
}
.yellow {
  @apply bg-yellow-500;
}
.purple {
  @apply bg-purple-600;
}
.red {
  @apply bg-red-600;
}

.gray {
  @apply bg-gray-600;
}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 200ms ease;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

/* .board {
  scrollbar-color: #999 #333;
} */

.board::-webkit-scrollbar {
  @apply rounded-lg w-2 h-2;
}

.board::-webkit-scrollbar-thumb {
  background: rgba(240, 240, 240, 30%);

  @apply rounded-lg;
}

/* .board::-webkit-scrollbar-track {
  background: #333;
} */
