<div class="border-2 rounded-lg p-2 w-80 bg-neutral-800">
  <div class="flex justify-between items-center pb-4">
    <!-- Slot for the handle -->
    <h3 class="line-clamp-1">{{ board.title }}</h3>
    <ng-content></ng-content>
  </div>

  <div
    class="space-y-2 h-[72vh] overflow-y-auto board"
    cdkDropList
    cdkDropListOrientation="vertical"
    (cdkDropListDropped)="taskDrop($event)"
  >
    <div cdkDrag *ngFor="let task of board.tasks; let i = index">
      <div
        [ngClass]="task.label"
        class="p-2 rounded-sm min-h-[4rem] flex justify-between items-center"
      >
        <p class="line-clamp-2 text-black">{{ task.description }}</p>
        <mat-icon class="min-w-[2rem] cursor-grab" cdkDragHandle
          >drag_handle</mat-icon
        >
      </div>
    </div>
    <button
      class="sticky bg-blue-500 rounded-3xl bottom-4 left-4 flex items-center bg-opacity-80"
      (click)="openDialog(board.id)"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
